@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  /* color: white; */
}

#input {
  background-image: url("https://i1.faceprep.in/ProGrad/box-generator-bg.png");
  width: 100vw;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  font-size: 3em;
  font-family: "Righteous", cursive;
}

.square {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  color: white;
  height: 50px;
  width: 50px;
  /* border: 1px solid black; */
  margin: 10px;
  text-align: center;
  background-color: #f39c12;
}

.circle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  /* border: 1px solid black; */
  margin: 10px;
  text-align: center;
  background-color: violet;
}

.rectangle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  color: white;
  height: 50px;
  width: 100px;
  /* border: 1px solid black; */
  margin: 10px;
  text-align: center;
  background-color: rgb(42, 251, 5);
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  margin: 10px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
}

#number {
  width: 150px;
  height: 40px;
  font-size: 1.2em;
  padding: 0px 10px;
}

#button {
  width: 100px;
  height: 40px;
  font-size: 1.2em;
  background-color: #f39c12;
  color: white;
  border: none;
}
